.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 11%;
  padding: 0 20px;
  max-width: 1200px;
}

.projects__para {
  margin-bottom: 90px;
  text-align: center;
}

.projects__card {
  .content {
    text-align: right;
    position: relative;
    bottom: 300px;
  }
  .project__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .project__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(186, 15, 15);
  }
  .project_image {
    width: 50%;
    height: 400px;
    margin-bottom: 10px;
  }
  .project__description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
    width: 60%;
    background-color: azure;
    padding: 20px;
    position: relative;
    left: 37%;
  }
  .project__stack {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .dtls {
    color: rgb(187, 180, 180);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: rgb(90, 80, 80);
    }
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      color: rgb(115, 108, 108);
    }
  }
}

.s_projects {
  list-style: none;
  padding: 0px;
  margin: 50px 11%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  position: relative;

  .s_projects__card {
    background-color: #ffffff;
    border: #050a30 2px solid;
    padding: 15px;
    box-shadow: 0 0 15px rgb(110, 108, 108);
    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }

    .icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      span {
        font-size: 1.5rem;
        color: #000;
        &:hover {
          color: rgb(115, 108, 108);
        }
      }
    }

    h2 {
      font-size: 3rem;
      font-weight: 400;
      font-family: 'Playfair Display', serif;
      color: rgb(208, 36, 36);
    }
  }
}
