@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.hero {
  width: 100vmax;
  height: 100vh;
  background-image:url("../../assets/Hero.png") ;
  background-size: cover;
  position: relative;

  .hero-dtl{
    padding: 10%;  
  }
  h1 {
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    color: rgb(208, 36, 36);
    line-height: 6rem;
    margin: 0;
    font-size: 80px;
	font-weight: 700;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-image: url('../../assets/Hero2.png');
  background-repeat: repeat-y;
  }
  span {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
   
  }
  button {

    a{
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    a:hover{
      color: rgb(15, 4, 80);
    }

    width: 15vw;
    height: auto;
    margin: auto;
    align-self: center;
    font-size: 1.5vw;
    padding: 1vw;
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
      background-color: rgb(186 15 15);
      color: rgb(255, 255, 255);
      transition: 0.4s ease-in-out;
  }
  button:hover {
      border: 2px solid rgb(15, 4, 80);
    background-color: rgb(255, 255, 255);
    color: rgb(37, 28, 216);
  }
}
p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.p-hero{
  color: rgb(255, 255, 255);
}

label{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
}

h1{
  font-size: 4rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  color: rgb(208, 36, 36);
  
}

a{
  text-decoration: none;
  
}