.about {
  display: flex;
  gap: 20px;
  margin: 10px 11%;
  flex-direction: row-reverse;

  h1 {
    text-align: left;
    width: 400px;
  }
  p {
    width: 400px;
    text-align: justify;
  }

  ul {
    display: grid;
  }

  .about__skillsList {
    grid-gap: 0 10px;
    display: grid;
    font-size: 1.1rem;
    gap: 0 10px;
    grid-template-columns: repeat(3, minmax(10rem, 16rem));
    list-style: none;
    margin: 8rem 10% 0;
    overflow: hidden;
    position: relative;
  }
}

